{% extends "./base.html" %}

{% block title %} Gestión de Clientes {% endblock %}

{% block body %}



    <div>
        <div class="row">
    
            <div class="col-md-3">
                <h3 style="text-align: center;">Total</h3>
                <canvas id="myChart"  width="50" height="50"></canvas>
            </div>
            <div class="col-md-3">
              <canvas id="myChartB" class="grafico" width="50" height="50"></canvas>
            </div>
        </div>
        <div class="row">
        
            <div class="col-md-3">
                <h3 style="text-align: center;">Accesibilidad</h3>
                <canvas id="myChart1" width="50" height="50"></canvas>
            </div>
            <div class="col-md-3">
                <h3 style="text-align: center;">Usabilidad</h3>
                <canvas id="myChart2" width="50" height="50"></canvas>
            </div>
            <div class="col-md-3">
                <h3 style="text-align: center;">Seguridad</h3>
                <canvas id="myChart3" width="50" height="50"></canvas>
            </div>
            <div class="col-md-3">
                <h3 style="text-align: center;">Rapidez de acceso</h3>
                <canvas id="myChart4" width="50" height="50"></canvas>
            </div>  
        
        </div>
    </div>
{% endblock %}


